.Chat-Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .Chat-Main-search{
        border-bottom: solid 2px #707070;
        width: 79%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        margin-top: 3%;
        margin-right: 3%;
        >img{
            width: 15px;
            height: 15px;
        }
        >input{
            width: 100%;
            border: none;
            font-size: 15px;
        }
        >input:focus{
            outline: none;
        }
    }
    .Chat-Main-profile{
        width: 80%;
        margin-top: 5%;
    }

    .Chat-Main-main-tab{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        .Chat-Main-tab-button{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin-top: 8%;
            .Chat-Main-tab-clicked{
                font-size: 18px;
            }
            .Chat-Main-tab-closed{
                font-size: 18px;
                color: #9C9C9C;
            }
        }
        .Chat-Main-tab-body{
            width: 100%;
            height: 360px;
            margin-top: 8%;
        }
    }
}

.Chat-Main-follow-main{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .Chat-Main-follow{
        display: flex;
        flex-direction: column;
        border-bottom: solid 2px #D5D5D5;
        .Chat-Main-follow-title{
            font-size: 15px;
            margin-bottom: 4%;
        }
        .Chat-Main-follow-view{
            margin-bottom: 5%;
        }
    }
    .Chat-Main-follow-recommendation{
        display: flex;
        flex-direction: column;
        .Chat-Main-follow-rcd-title{
            font-size: 15px;
            margin-top: 5%;
            margin-bottom: 4%;
        }
        .Chat-Main-follow-rdc-view{
        }
    }
}
.Chat-Main-follow-main::-webkit-scrollbar{
    width: 0;
}
