.CommentPost-main {
    position:fixed;
    width: 43.2%;
    height: auto;
    border-radius: 15px;
    background-color: #F8F8FC;
    border: solid 1px #707070;
    bottom: 10px;

    .CommentPost-container {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        
        .CommentPost-button {
            width: 100%;
            height: 0;
            display: flex;
            justify-content: flex-end;

            >input {
                position: relative;
                right:5px;
                bottom:25px;
                border-radius: 15px;
                width: 60px;
                height: 22px;
                font-size: 8px;
                font-weight: bold;
                background-color: #FFB600;
                margin-right: 5px;
            }
        }
    }
}

@keyframes inAnimation {
    0% {
        bottom: -300px;
    }

    100% {
      bottom: 10px;  
    }
}
  
  @keyframes outAnimation {
    0% {
        bottom: 10px;
    }
    
    100% {
        bottom: -300px; 
    }
}