.ProjectFollow{
    width: 100%;
    min-height: 850px;
    background-color: #ffffff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
    .ProjectFollow-side-tab{
        grid-column: 1/5;
        width: 100%;
        border-right: solid 2px #707070;
        display: flex;
        flex-direction: column;
        align-items: center;
        .ProjectFollow-side-tab-searchbar{
            width: 90%;
            height: 18px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 14px;
            border-bottom: solid 2px #707070;
            margin-top: 5%;
            margin-bottom: 5%;
            >img{
                width: 13px;
                height: 13px;
            }
            >input{
                width: 100%;
                border: none;
            }
            >input:focus{
                outline: none;
            }
        }
        .ProjectFollow-side-tab-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            .ProjectFollow-side-tab-Language{
                width: 100%;
                margin-bottom: 60%;
                font-size: 14px;
                line-height: 25px;
                border-top: solid 2px #707070;
                >p{
                    width: 90%;
                    margin-left: 10%;
                }
                .ProjectFollow-side-tab-Language-title{
                    width: 90%;
                    margin: 5% 0 3% 10%;
                    font-size: 18px;
                    font-weight: bold;
                    color: #707070;
                }
            }
            .ProjectFollow-side-tab-Position{
                width: 100%;
                font-size: 14px;
                line-height: 25px;
                border-top:solid 2px #707070;
                >p{
                    width: 90%;
                    margin-left: 10%;
                }
                .ProjectFollow-side-tab-Position-title{
                    width: 90%;
                    margin: 5% 0 3% 10%;
                    font-size: 18px;
                    font-weight: bold;
                    color: #707070;
                }
            }
        }
    }
    .ProjectFollow-main{
        width: 100%;
        grid-column: 5/25;
        .ProjectFollow-calendar{
            width: 100%;
            height: 18%;
            border: solid 1px #c0c0c0;
        }
        .ProjectFollow-users{
            width: 96%;
            margin-left: 2%;
            margin-top: 3%;
            >p{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 2%;
            }
            .ProjectFollow-follow-mainview{
            }
        }
    }
}