.GitSystem-icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    >img {
        width: 28px;
        height: 29px;
    }
    
    >p {
        margin-top: 4px;
        color: #ffffff;
        font-size: 12px;
    }
}