.BulletinBoard-Detail-view{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
    .BulletinBoard-Detail-title-view{
        width: 95%;
        height: 5%;
    }
    .BulletinBoard-Detail-contents-view{
        // border: solid red;
        margin-bottom: 2%;
        width: 83%;
        display: flex;
    }
    .BulletinBoard-Detail-comments-view{
        width: 83%;
    }
    .BulletinBoard-Detail-commentspost-view{
        width: 83%;
        margin-top: 2%;
        margin-bottom: 12%;
    }
}