.Mypage-set-following-main{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: 100%;
    .Mypage-set-following-personal-view{
        margin: 0 0 14% 0;
        grid-column: 1/16;
        .Mypage-set-following-personal-item{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 21px;
            grid-row-gap: 21px;
        }
    }
}