.ChatCreate{
    font-family: "AppleSDGothicNeoM";
    width: 100%;
    height: 200px;
    border: solid 1px #707070;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    .ChatCreate-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .ChatCreate-title{
            width: 41%;
            font-size: 20px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
        }   
        .ChatCreate-exit{
            display: flex;
            align-items: center;
            height: 33px;
            margin-right: 2%;
            cursor: pointer;
        }
    }
    .ChatCreate-button{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .ChatCreate-groupchat{
            width: 40%;
            height: 50%;
            >input{
                width: 100%;
                height: 100%;
                font-size: 25px;
                cursor: pointer;
                background-color: #F8E2AA;
                border: none;
                border-radius: 10px;
                text-align: center;
            }
            >input:hover{
                background-color: #FBD576;
            }
        }
        .ChatCreate-openchat{
            width: 40%;
            height: 50%;
            >input{
                width: 100%;
                height: 100%;
                font-size: 25px;
                cursor: pointer;
                background-color: #F8E2AA;
                border: none;
                border-radius: 10px;
                text-align: center;
            }
            >input:hover{
                background-color: #FBD576;
            }
        }
    }
}