.issue {
    @include maxWrap();
    position: relative;
    min-height: 800px;

    & .slick-slide {
        padding: 0 5px;
    }

    & .issuebox {
        position: relative;
    }

    & .contentbox {
        @include flexbox(space-between, flex-start);
        min-height: 775px;

        & .barStyle {
            width: 50px;
            height: 100%;
            min-height: 775px;
            border-radius: 5px;
            text-align: center;
            background: #f1f1f1;
            border: 1px solid #707070;
        }

        & .rightBar {
            & .btn_add {
                width: 50px;
                height: 50px;
                border-bottom: 1px solid $ColorNavy;
                border-radius: 5px;
            }
        }

        & .cardContent {
            @include flexbox(space-between, flex-start);
            height: 100%;
            width: calc(100% - 100px);
            width: -webkit-calc(100% - 100px);
            overflow-x: auto;
            overflow-y: hidden;
            top: 0;
            position: relative;

            & > * {
                margin: 0 10px;
                min-width: 400px;
            }
            & .innerContent {
                border: 1px solid $ColorNavy;
                overflow: hidden;
                border-radius: 5px;

                &[draggable="true"] {
                    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
                }

                & .head {
                    @include flexbox(space-between, center);
                    height: 53px;
                    border-bottom: 1px solid $ColorNavy;
                    border-radius: 5px;

                    & .left {
                        & button {
                            color: $ColorNavy;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        & span {
                            font-size: 14px;
                            font-weight: bold;
                            margin-left: 10px;
                        }
                    }

                    & .right {
                        @include flexbox(space-between, center);

                        & button {
                            margin-right: 20px;
                        }
                    }
                }

                & .body {
                    height: 720px;
                    border-radius: 0 0 5px 5px;
                    padding: 15px 10px;
                    overflow: auto;

                    & > div {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .issue .contentbox .content > * {
        min-width: 92%;
    }
}

@media screen and (max-width: 780px) {
    .issue {
        padding: 0;
    
        & .contentbox .content .innerContent .head .left button {
            @include flexbox(space-between, center);
        }
        & .issuebox{
            & .titlebox{
                padding: 15px 10px;
    
                & .right .search {
                    width: 150px;
                }
            
                & .left .btn_objective {
                    font-size: 12px;
                }
            
                & .right > * {
                    margin-left: 10px;
                }
            
                & .left .btn_objective {
                    @include flexbox(space-between, center);
                }
            }
        }
    }
}