.MainView {
    @include maxWrap();
    
    & .publishFile {
        @include flexbox(space-between, flex-start);
        position: relative;
        height: 565px;
        margin-bottom: 30px;
        
        & > div {
            height: 100%;
            border-radius: 0 0 20px 20px;
        }

        & > div > .top_title {
            @include commonTitleStyle();
            @include flexbox(center, center);
        }

        & .titlebox {
            text-align: center;
            background: #fff;
            width: calc(100% - 450px);
            width: -webkit-calc(100% - 450px);
            margin-right: 20px;

            & .btm {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80%;

                & button {
                font-size: 32px;
                font-weight: bold;
                padding: 10px;
                border: 1px solid #707070;
                border-radius: 15px;
                }
            }
        }

        & .feedbox {
            width: 460px;
            height: 100%;
            background: #f6f7fc;
            overflow: hidden;

            & .btm {
                overflow: auto;
                padding: 15px;
                height: calc(100% - 50px);
                height: -webkit-calc(100% - 50px);

                & > p {
                    padding-left: 15px;
                    margin: 2px 0;
                }

                & .line {
                    position: relative;
                    @include flexbox(flex-start, flex-start);

                    & > * {
                        margin-right: 20px;
                    }

                    & .img_user_sample {
                        position: relative;
                        top: 2px;
                    }

                    & p {
                        top: 5px;
                        position: relative;
                        display: inline-block;
                    }

                    & mark {
                        background: #efcb72;
                        border-radius: 10px;
                        padding: 1px 10px;
                    }

                    & .date {
                        display: inline-block;
                        font-size: 10px;
                        position: absolute;
                        right: 5px;
                        top: -17px;
                    }
                }
            }
        }
    }
}

.readme {
    margin-top: 40px;
    & .head {
        @include commonTitleStyle();
        font-weight: normal;
    }

    & .body {
        background: #f2f2f2;
        padding: 15px;
        border-radius: 0 0 20px 20px;

        & h4 {
            font-size: 20px;
            font-weight: bold;
        }
        & p {
            margin-top: 30px;
            font-size: 18px;
            color: $ColorNavy;
            line-height: 1.6;
        }
    }
}

@media screen and (max-width: 780px) {
    .MainView {
        & .publishFile {
            display: block;
            height: 100%;
    
            & > div > .top_title {
                font-size: 14px;
            }
    
            & .feedbox,
            & .titlebox {
                width: 100%;
            }
    
            & .feedbox {
                margin-top: 20px;
    
                & .btm {
                    height: 400px;
                }
            }
    
            & .titlebox {
                & .btm {
                    height: 400px;
                    overflow: auto;
                }
                & .btm button {
                    font-size: 17px;
                }
            }
        }
        & .readme{
            .head {
                font-size: 14px;
            }
        }
    }
}