@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../../fonts/AppleSDGothicNeoB.ttf')
}

.IDE-Main {
    font-family: "AppleSDGothicNeoB";
    width: 100%;
    height: 1080px;
    background-color: #1C2239;
    display: flex;
    flex-direction: column;

    .IDE-Header {
        width: 100%;
    }

    .IDE-Content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .IDE-View {
            width: 97.5%;
            display: flex;
            flex-direction: column;

            /*
            .IDE-Sidebar {

            }
            */

            .IDE-Editor {
                height: 820px;
                border-bottom: solid 2px #707070;
            }

            .IDE-Terminal {
                width: 100%;
                height: 200px;
            }
        }
    }
}