.Post-item-main-container {
    width : 100%;
    height : 62px;
    display : grid;
    grid-template-columns: repeat(18, 1fr);
    border-top : 2px solid #707070;
    
    .Post-item-name-text-area {
        grid-column: 1/9;

        .Post-item-name-area {
            display: flex;
            align-items: center;
            padding-top: 2%;

            >p { font-size : 18px; }
        }

        .Post-item-text-area {
            width : 88%;
            display: flex;
            flex-direction: row;
            padding-left : 12%;
            padding-top: 2%;

            >p { font-size : 12px; }
        }
    }

    .Post-item-profile-tag {
        grid-column: 9/14;
        width: 100%;
        height: 100%;
        display:block; // block 말고 다른방법 찾아볼 것
        overflow-y: hidden;

        >p {
            float:left;
            width:fit-content;
            height: fit-content;
            padding: 2%;
            font-size: 11px;
            color: #3f7aa5;
            font-weight: bold;
            background-color: #D5E3F5; 
            margin:5px;
        }
    }

    .Post-item-icon-area {
        grid-column: 15/19;
        width : 100%;
        display : flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .Post-item-img {
            width: 10%;
            height : 100%;
            display : flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 11px;

            >img {
                width: 100%;
                max-width : 30px;
                max-height: 30px;
                border-radius: 50%;
                height: 40%;
            }
        }
        
        .Post-item-icon{
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 60%;
            
            .Post-item-icon2 {
                height : 100%;
                display : flex;
                flex-direction: row;
                align-items: center;
                margin-left: 4%;
                
                >img { max-width: 35px; }
                >p { font-size: 9px; }
            }

            .Post-item-icon3 {
                height : 100%;
                display : flex;
                flex-direction: row;
                align-items: center;
               
                >img { max-width : 35px; }
                >p { font-size: 9px; }
            }

            .Post-item-icon4 {
                height : 100%;
                display : flex;
                flex-direction: row;
                align-items: center;
                
                >img {
                    max-width : 20px;
                    height: auto;
                }

                >p {
                    margin-left: 3px;
                    font-size: 9px;
                }
            }
        }
    }
}