@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../../../../fonts/AppleSDGothicNeoB.ttf')
}


.ProjectFile-Item{
    font-family: "AppleSDGothicNeoB";
    width : 100%;
    height : 60px;
    border-bottom : 2px solid #707070;
    display : grid;
    grid-template-columns: repeat(24, 1fr);
    .ProjectFile-Item-fileicon{
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
        width : 100%;
        height : 100%;
        // border : solid black;
        >img{
            width: 28px;
            height: 28px;
        }
    }
    .ProjectFile-Item-title{
        grid-column: 3/8;
        width : 100%;
        height : 100%;
        display : flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;

        
        >p{
            font-size : 15px;
            font-weight : bold;
        }
    }
    .ProjectFile-Item-commit-message{
        grid-column: 8/20;
        width: 100%;
        height : 100%;
        display : inline-flex;
        align-items: center;
        margin-top: 0.5%;
        >p{
            font-size : 12px;
            font-weight : bold;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            
        }
    }
    .ProjectFile-Item-info{
        grid-column: 22/25;
        width : 100%;
        height : 100%;
        display : flex;
        flex-direction: column;
        align-items: flex-end;
        // border : solid red;
        .ProjectFile-Item-date{
            width : 90%;
            height : 40%;
            display : flex;
            justify-content: center;
            align-items: center;
            
            >p{
                font-size : 10px;
                
            }
        }
        .ProjectFile-Item-issue{
            width : 90%;
            display : flex;
            flex-direction: row;
            justify-content: space-between;
            >img{
                width: 22px;
                height: 22px;
                // border : solid red;
            }
        }
    }
    
}