.Blog-Item {
    width:100%;
    height:100%;
    background-color: #FFF;
    box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
    display:inline;
    border-radius: 10px;

    .Blog-Item-thumbnail {
        display: flex;
        height: 200px;
        flex-direction: row;
        margin-bottom: 5px;
    
        .Blog-Item-thumbnail-image {
            width: 100%;
            height: 100%;    
            border: solid whitesmoke;
            border-radius: 10px 10px 0 0;
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center;

            > img { width: 100%; }
        }
    }

    .Blog-Item-description {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows : repeat(2, 1fr auto);
        height: 120px; // deprecate되지만, 미지정시 animation이 흐트러짐

        .Blog-Item-title {
                grid-column: 1/5;
                height:25px;
                align-items: center;
                justify-content: space-between;
                overflow-x: hidden;
                margin-top:5px;
                margin-left:5px;

                > p { font-size: 16px; }
            }

            .Blog-Item-context {
                grid-column: 1/5;
                overflow:hidden;
                margin: 5px 0 5px 5px;

                > div { display: none; }
            }
    
            .Blog-Item-writer {
                grid-column: 5/7;
                flex-direction: column;
                height:100%;
                
                .Blog-Item-Like {
                    display : flex;
                    align-items: center;
                    margin-left: 22%;
                    margin-bottom: 20px;
                    font-size: 15px;
                }
                
                .Blog-Item-Like img {
                    margin-right:5px;
                    width: 20px;
                    height: 20px;
                }

                .Blog-Item-profile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 22px;
                        height: 22px;
                        margin-bottom: 5px;
                    }

                    > p { font-size: 9px; }
                }
            }
    }
}


// 임시 애니메이션, 더 좋은 방안이 있을 시 변경함
.Blog-Item:hover {
    .Blog-Item-thumbnail {
        height:110px;
        transition: all 0.5s;
    }

    .Blog-Item-description {
        height: 200px;
        transition: all 0.5s;
    }

    .Blog-Item-context > div {
        display: block;
        transition: all 0.5s;
    }

    .Blog-Item-writer {
        padding-top: 90px;
        transition:  all 0.5s;
    }

    .Blog-Item-thumbnail-image > img {
            height: 100%;
            -webkit-filter: blur(15px);
            -moz-filter: blur(15px);
            -o-filter: blur(15px);
            -ms-filter: blur(15px);
            filter: blur(15px);
    }
}



