@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../../../../fonts//AppleSDGothicNeoB.ttf')
}
@font-face{
    font-family: "AppleSDGothicNeoM";
    src : url('../../../../../fonts/AppleSDGothicNeoM.ttf')
}

.Service-detail-main{
    font-family: "AppleSDGothicNeoB";
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    width: 100%;
    .Service-detail-title{
        grid-column: 10/28;
        font-size: 26px;
        font-weight: bold;
        margin-top : 3%
        
    }
    .Service-detail-view{
        margin-top: 3%;
        grid-column: 10/28;
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
        height: 780px;
        .Service-detail-tab{
            width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 18px;
            .Service-detail-tab-button{
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 50px;
                border-bottom: solid 2px #1C2239;
                >div{
                    height : 100%;
                    width : 15%;
                    margin : 0;
                    text-align: center;
                    line-height: 60px;
                    // border : solid red;
                    
                }
                .Service-detail-tab{
                    border : none;
                    outline : none;
                    position : relative;
                }
                .Service-detail-tab-clicked{
                
                    background : #1C2239;
                    border : 2px solid #1C2239;
                    border-bottom : none;
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    border-bottom : 0;
                    outline : none;
                    color: #ffffff;
                    position : relative;
                    line-height: 50px;
                }
            }
        }
        .Service-detail-modify{
            width: 3%;
            position: relative;
            left: 97%;
            margin-top: 1%;
        }
        .Service-detail-ask{
            width: 44%;
            font-size: 20px;
            border-bottom: solid 2px #707070;
            margin-top: 2%;
            margin-left: 6%;
            // border: solid red;
        }
        .Service-detail-ask-text{
            width: 70%;
            min-height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: 8%;
            margin-top: 20px;
        }
        .Service-detail-guide{
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            width: 84%;
            min-height: 88px;
            border-radius: 15px;
            background-color: #F6F7FC;
            border: solid 2px #FFB600;
            margin-top: 12%;
            margin-left: 8%;
            .Service-detail-guide-text{
                margin-top: 3%;
                grid-column: 2/20;
                font-size: 14px;
            }
            .Service-detail-guide-date{
                height: 10%;
                margin-top: 15%;
                grid-column: 23/25;
                font-size: 11px;
                color: #707070;
            }

        }
        .Service-detail-comment{
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            width: 84%;
            height:80px;
            border-radius: 15px;
            background-color: #F6F7FC;
            border: solid 2px #707070;
            margin-top: 7%;
            margin-left: 8%;
            .Service-detail-comment-item{
                grid-column:  10/25;
                height: 20px;
                margin-left: 3%;
            }
            .Service-detail-comment-text{
                grid-column: 5/24;
                >p{
                    color: #707070;
                }
            }
            .Service-detail-comment-button{
                grid-column: 23/25;
                width: 100%;
                height: 100%;
                >input{
                    border-radius: 20px;
                    font-size: 8px;
                    width: 90%;
                    height: 80%;
                    background-color: #FFB600;
                }
            }
        }
    }
}