.ChatRoom-Menu{
    font-family: "AppleSDGothicNeoM ";
    width: 293px;
    height: 393px;
    background-color: #ffffff;
    border: solid 1px #1C2239;
    display: flex;
    flex-direction: column;

    .ChatRoom-Menu-main{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .ChatRoom-Menu-search{
            width: 85%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 15px;
            >img{
                width: 16px;
                height: 16px;
            }
        }
        .ChatRoom-Menu-exit{
            width: 85%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 15px;
            >img{
                width: 16px;
                height: 16px;
            }
        }
    }
    .ChatRoom-Menu-participants{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
                                                           
        .ChatRoom-Menu-user{
            width: 85%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .ChatRoom-Menu-user-profile{
                >img{
                    width: 36px;
                    height: 39px;
                }
            }
            .ChatRoom-Menu-user-name{
                font-size: 15px;
                margin-left: 13%;
            }
        }
    }
}