.Setting-follow-main{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(15, 1fr);
    align-items: center;
    // border: solid red;
    .Setting-follow-search{
        width: 100%;
        grid-column: 4/13;
        height: 40px;
        margin-top: 20px;
    }
    .Setting-follow-tab{
        grid-column: 1/16;
        align-items: center;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        .Setting-follow-tab-button{
            grid-column: 4/13;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            margin-top: 130px;
            font-size: 25px;
            >div{
                line-height: 30px;
                font-weight: bold;
                // border : solid red;
                
            }
            .Setting-follow-tab-closed{
                text-align: center;
                color: #1C2239;

            }
            .Setting-follow-tab-clicked{
                text-align: center;
                color: #1C2239;
            }
            .Setting-follow-tab-follower-number{
                margin-bottom: 10%;
                font-size: 40px;
            }
            .Setting-follow-tab-following-number{
                margin-bottom: 10%;
                font-size: 40px;
            }
        }
        .Setting-follow-tab-body{
            grid-column: 1/16;
            width: 92%;
            margin-top: 50px;
            margin-left: 4%;
        }
    }
}