@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../../../../fonts/AppleSDGothicNeoB.ttf')
}

.Issue-main-item{
    font-family: "AppleSDGothicNeoB";
    width : 100%;
    height : 60px;
    // border: solid red;
    display : grid;
    grid-template-columns: repeat(24, 1fr);
    border-bottom : 2px solid #707070;
    >div{
        display : flex;
        justify-content: center;
        align-items: center;
        // border: solid red;
        >p{
            color : #1C2239;
            text-align: center;
        }
    }
    .Issue-main-item-img{
        grid-column: 1/3;
        width: 100%;
        margin-left: 3%;
        >img{
            max-width: 25px;
            max-height: 25px;
        }
    }

    .Issue-main-item-title{
        grid-column: 3/5;
        width : 100%;
        display: flex;
        justify-content: flex-start;
        // margin-right: 5px;
        >p{
            font-size : 15px;
            font-weight : 600;
        }
        // border :solid blue;
    }
    
    .Issue-main-item-version{
        grid-column: 5/7;
        width : 100%;
        display: flex;
        justify-content: flex-start;
        // border: solid red;
        >p{
            font-size : 8px;
            font-weight : 400;
        }
    }
    .Issue-main-item-context{
        grid-column: 7/16;
        width : 100%;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        // padding-right: 10px;
        // margin-right: 60px;
        >p{
            font-size : 9px;
            font-weight : 600;
        }
        // border : solid green;
    }

    .Issue-main-item-button{
        grid-column: 16/20;
        width : 100%;
        display: flex;
        justify-content: flex-start;
        // margin-left: 10px;
        // border : solid red;
        >input{
            width: 25%;
            height: 40%;
            background-color: white;
            border-color: red; 
            font-size: 7px;    
        }

        .Issue-main-item-tag{
            width: 25%;
            margin-left: 5px;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 50%;
            background: red;
            border-radius: 20px;
            // border : solid blue;
            >p{
                // background-color: white;
                color: white;
                font-weight: bold;
                font-size: 9px;
                // border-color: red;     
            }
        }
    }


    .Issue-main-item-sub{
        grid-column: 22/25;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // border: solid red;
        .Issue-main-item-date{
            width: 100%;
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            >p{
                font-size: 10px;
            }
        }
        .Issue-main-item-sub2{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-left: 14%;
            margin-bottom: 8%;
            // border: solid red;
            .Issue-main-item-profile{
                width : 90%;
                display: flex;
                align-items: center;
                margin-bottom: 2px;
                >img{
                    width: 22px;
                    height: 22px;
                }
            }
            .Issue-main-item-counter1{
                width : 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                // margin-right: 10px;
                >p{
                    font-size : 13px;
                    margin-left: 4px;
                }
                >img{
                    width: 20px;
                    height: 20px;
                }
                // border : solid green;
            }
            .Issue-main-item-counter2{
                width : 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                >p{
                    font-size : 13px;
                    margin-left: 2px;
                }
                >img{
                    width: 20px;
                    height: 20px;
                }
                // border : solid blue;
            }
        }
        
    }


}