@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../fonts/AppleSDGothicNeoB.ttf')
}
.settingPage {
    & .body {
        font-family: "AppleSDGothicNeoB";
        display: grid;
        grid-template-columns: repeat(36, 1fr);
        width: 100%;
        height: 100%;
        min-height: 1080px;
        
        & .tabcontainer {
            margin-top: 3%;
            grid-column: 10/28;
            width: 100%;
            display: flex;
            flex-direction: row;
            font-size: 18px;
            background-color: #ffffff;
            box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
            margin-bottom: 1%;

            & .tablist {
                display: flex;
                flex-direction: column;
                width: 13%;
                height: 100%;

                & > div {
                    line-height: 30px;
                    font-weight: bold;            
                }

                & .tab-closed {
                    text-align: center;
                    line-height: 35px;
                    color: #707070;
                }
                
                & .tab-clicked {
                    text-align: center;
                    color: #1C2239;
                    line-height: 36px; 
                }
            }

            & .tabContent {
                width: 100%;
                border-left: solid 3px #1C2239;
                height: auto;

                // account start
                & .account {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(15, 1fr);
                    
                    & .profile {
                        margin-top: 7%;
                        grid-column: 2/7;
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        
                        & .profileimg {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: flex-start;
                
                            & > img {
                                width: 100px;
                                height: 100px;
                                border-radius: 50px;
                            }
                
                            & .settingbtn {
                                width: 27%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                
                                & > input { display: none; }
                            }
                        }
                    }
                
                    & .region {
                        grid-column: 9/15;
                        width: 100%;
                        height: auto;
                        margin-top: 7%;
                
                        & > input {
                            margin-left: 5%;
                            width: 78%;
                            padding: 2% 5% 2% 5%;
                            font-size: 15px;
                            color: #1C2239;
                            background-color: #ffffff;
                            border: solid 2px #707070;
                            border-radius: 10px;
                        }
                
                        & > input:focus { outline:none; }
                    }
                
                    & .name {
                        grid-column: 2/7;
                        width: 100%;
                        height: auto;
                        margin-top: 5%;
                
                        & > input {
                            margin-left: 5%;
                            width: 93.5%;
                            padding: 2% 5% 2% 5%;
                            font-size: 15px;
                            background-color: #ffffff;
                            border: solid 2px #707070;
                            border-radius: 10px;
                        }
                
                        & > input:focus { outline:none; }
                    }
                
                    & .password {
                        grid-column: 2/7;
                        width: 100%;
                        height: auto;
                        margin-top: 6%;
                
                        & > input {
                            margin-left: 5%;
                            width: 93.5%;
                            padding: 2% 5% 2% 5%;
                            font-size: 15px;
                            background-color: #ffffff;
                            border: solid 2px #707070;
                            border-radius: 10px;
                        }
                
                        & > input:focus { outline:none; }
                    }
                
                    & .description {
                        grid-column: 2/12;
                        width: 100%;
                        height: auto;
                        margin-top: 3%;
                
                        & > textarea {
                            word-wrap: break-word;
                            margin-left: 2.5%;
                            width: 90%;
                            height: 80px;
                            padding: 3%;
                            font-size: 15px;
                            background-color: #ffffff;
                            border: solid 2px #707070;
                            border-radius: 20px;
                            line-height: 20px;
                            resize: none;
                        }
                
                        & > textarea:focus { outline:none; }
                    }
                
                    & .language {
                        grid-column: 2/7;
                        width: 100%;
                        height: auto;
                        margin-top: 5%;
                
                        & > input {
                            margin-left: 5%;
                            width: 93.5%;
                            padding: 2% 5% 2% 5%;
                            font-size: 15px;
                            background-color: #ffffff;
                            border: solid 2px #707070;
                            border-radius: 10px;
                        }
                
                        & > input:focus { outline:none; }
                    }
                
                    & .position {
                        grid-column: 9/15;
                        width: 100%;
                        height: auto;
                        margin-top: 4%;
                
                        & > input {
                            margin-left: 5%;
                            width: 78%;
                            padding: 2% 5% 2% 5%;
                            font-size: 15px;
                            background-color: #ffffff;
                            border: solid 2px #707070;
                            border-radius: 10px;
                        }
                
                        & > input:focus { outline:none; }
                    }
                
                    & .snsAccounts {
                        grid-column: 2/15;
                        width: 100%;
                        height: 100%;
                        margin-top: 4%;

                        & .snslist {
                            width: 95.5%;
                            height: 70%;
                            display: grid;
                            grid-template-columns: repeat(16, 1fr);
                            margin-left: 2%;
                        
                            & .leftitem {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                grid-column: 1/8;
                                height: 30px;
                                & > img {
                                    width: 25px;
                                    height: 25px;
                                }
                        
                                & > input {
                                    font-family: "AppleSDGothicNeoB";
                                    font-weight: bold;
                                    font-size: 15px;
                                    padding: 3px 9px 3px 9px;
                                    border-radius: 10px;
                                    background-color: #ffffff;
                                }
                            }
                            
                            & .rightitem {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                grid-column: 10/17;
                                height: 30px;
                                
                                & > img{
                                    width: 25px;
                                    height: 25px;
                                }
                                & > input{
                                    font-family: "AppleSDGothicNeoB";
                                    font-weight: bold;
                                    font-size: 15px;
                                    padding: 3px 9px 3px 9px;
                                    border-radius: 10px;
                                    background-color: #ffffff;
                                }
                            }
                        }
                    }
                    
                    & .save {
                        width: 100%;
                        grid-column: 12/15;
                        margin-left: 2%;
                        margin-top: 40%;
                        margin-bottom: 10%;
                
                        & > p {
                            cursor: pointer;
                            width: 76%;
                            padding: 5%;
                            font-size: 15px;
                            font-weight: bold;
                            text-align: center;
                            color: #1C2239;
                            background-color: #FFB600;
                            border-radius: 8px;
                        }
                    }
                
                    & .buttonlist {
                        width: 100%;
                        grid-column: 1/16;
                        display: grid;
                        grid-template-columns: repeat(15, 1fr);
                        border-top: solid 2px #707070;
                
                        & .delete {
                            grid-column: 2/6;
                            margin-top: 10%;
                
                            & > p {
                                width: 70%;
                                padding: 3%;
                                font-size: 15px;
                                font-weight: bold;
                                text-align: center;
                                color: #FF0000;
                                background-color: #D5D5D5;
                                border-radius: 8px;
                            }
                        }
                
                        & .change {
                            grid-column: 12/15;
                            margin-top: 13%;
                            
                            & > p {
                                width: 78%;
                                padding: 5%;
                                font-size: 15px;
                                font-weight: bold;
                                text-align: center;
                                color: #ffffff;
                                background-color: #19B900;
                                border-radius: 8px;
                            }
                        }
                    }
                } // anccount end
                // follow start
                // follow end
            }
        }
    }
}
