@font-face{
    font-family: "AppleSDGothicNeoB";
    src: url(../../../../fonts/AppleSDGothicNeoB.ttf);
}

.SideMenu {
    width: 100%;
    height: 100%;

    .SideMenu-modify {
        display: flex;
        border : none;
        margin: 0 auto;
        width: 30px;
        height: 30px;        
        
        >button {
            cursor: pointer;
            border:none;
            background: transparent;
        }
    }

    .SideMenu-custom{
        position: relative;
        width: 220px;
        height: auto;
        left: 100%;
        bottom: 90%;
    }
}