.Blog-Main-Contents {
    display:grid;
    grid-template-columns: repeat(36, 1fr);
    margin : 0 auto;
    
}

.Blog-Main-Section {
    grid-column:7/30;
    margin-top:50px;
}

.Blog-Main-Aside {
    grid-column: 31/32;
    border: solid gray;
}

@media  (max-width:1280px) {
    .Blog-Main-Contents {
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        margin : 0 auto;
    }
    
    .Blog-Main-Section {
        grid-column-start: 3;
        grid-column-end: 11;
    }
    
    .Blog-Main-Aside {
        display:none; // fixed button으로 확인
    }
}