@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../../../fonts/AppleSDGothicNeoB.ttf')
}

.Reset-password-view-main{
    width : 400px;
    height : 530px;
    border-radius: 30px;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background : #fff;
    box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
    font-family: "AppleSDGothicNeoB";
    
    .Reset-password-title-container{
        font-size : 30px;
        font-weight: bold;
        white-space: pre-line;
        color : #1C2239;
    }

    .Reset-password-view-form{
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height : 300px;
        
        .Reset-password-view-title{
            font-size : 18px;
            font-weight: bold;
            color : #1C2239;
        }

        .Reset-password-view-input-container{
            display : flex;
            justify-content: center;
            width : 300px;
            height : 45px;
            border-radius: 30px;
            box-shadow: 2px 2px 7px 2px #c7c7c7;
            margin-bottom: 40px;

            >input{
                margin-top : 3px; // temporary margin : to prevent overflow TextField 
                width : 90%;
                height :85%;
                border : none;
                outline : none;
            }
        }

        .Reset-password-view-alert-text{
            font-size : 20px;
            text-align: center;
            white-space: pre-line;
            margin-bottom: 40px;
            color : #FFB600
        }

        .Reset-password-view-submit-button{
            width : 200px;
            height : 40px;
            display : flex;
            justify-content: center;
            background : #1C2239;
            border-radius: 30px;

            >button{
                border : none;
                outline : none;
                background: transparent;
                color : #fff;
                font-size : 18px;
                font-family: "AppleSDGothicNeoB";
            }
        }

    }

}