.OptionContainer {
    height: 40px;
    width: 100%;
    line-height: 30px;
    float:left;
}

.optionGroup {
    width: 100%;
    height: 100%;
    display : flex;
    flex-direction: row;
    align-items: center;

    .option {
        display: inline-flex;
        width: 35px;
        height: 35px;
        margin: 0 30px;
        margin-right: 0px;
        text-align: center;
        cursor: pointer;

        >img{
            width : 25px;
            height : 25px;
        }
     
    }
}


.optionGroup :first-child {
    margin-left:0px;
}



