.dropdown-item {
    background : #1C2239;
    color : #fff;
    padding: 9px 12px;
    text-decoration: none;
    display: flex;
    font-size : 14px;
    cursor:pointer;
    
    justify-content: space-between;
    > p:nth-child(2) {
        color:gray;
    }
}