@font-face{
    font-family: "AppleSDGothicNeoB";
    src: url(../../../../../fonts/AppleSDGothicNeoB.ttf);
}

.ProjectSideMenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F3F3F3;
    border-radius: 10px;
    font-family: "AppleSDGothicNeoB";
    .like{
        >div>button{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
    >button{
        background: transparent;
        border: none;
    }
}