@font-face{
    font-family: "AppleSDGothicNeoM";
    src : url('../../../fonts/AppleSDGothicNeoM.ttf')
}

@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../../fonts/AppleSDGothicNeoB.ttf')
}

.Project-main {
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    width: 100%;
    .Project-main-tab{
        font-family: "AppleSDGothicNeoB";
        margin-top: 3%;
        grid-column: 7/31;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        // font-size: 18px;

        .Project-main-tab-button{
            grid-column: 4/22;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            border-bottom: solid 3px #1C2239;
            >div{
                height : 100%;
                width : 15%;
                margin : 0;
                text-align: center;
                line-height: 60px;
                font-weight: bold;
                // border : solid red;
                
            }
            .Project-main-tab-closed{
                width: 15%;
                border : none;
                outline : none;
                position : relative;
                cursor: pointer;
            }
            .Project-main-tab-clicked{
                width: 15%;
                background : #1C2239;
                border : 2px solid #1C2239;
                border-bottom : none;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                border-bottom : 0;
                outline : none;
                color: #ffffff;
                position : relative;
                line-height: 50px;
                cursor: pointer;
            }
        }
        .Project-main-tab-tab-body{
            grid-column: 1/25;
            display: grid;
            grid-template-columns: repeat(24, 1fr);
        }
    }

        .Project-main-mainview {
            grid-column: 1/24;
            width: 100%;
            margin-bottom: 1%;
        }
        .Project-main-issue{
            grid-column: 4/22;
            width: 100%;
            margin-bottom: 1%;
        }
        .Project-main-follow{
            grid-column: 4/22;
            width: 100%;
            margin-bottom: 1%;
            margin-top: 5%;
        }
        .Project-main-file{
            grid-column: 4/22;
            width: 100%;
            margin-bottom: 1%;
            margin-top: 5%;
        }

}