

.Issue-main{
    width : 100%;
    display : flex;
    flex-direction: column;
    // border : solid red;
    
    .Issue-main-function-header{
        width : 10%;
        height : 100%;
        display : flex;
        flex-direction: row;
        // justify-content: space-between;
        align-self: flex-end;
        // border: solid red;

        .Issue-main-function-new-issue-button{
            // width : 30%;
            // padding : 4px;
            // border : solid red;
            display: flex;
            align-items: flex-end;
            margin-top: 10px;
            .Issue-main-new-issue-button{
                width : 100%;
                height : 60%;
                // background : #c0c0c0;
                border-radius: 10px;
                color :  #1C2239;
                border : none;
                font-size: 15px;
                font-weight: bold;
                cursor: pointer;
                background: transparent;
            }
        }

    }
    .Issue-main-area-wrapper{
        width : 100%;
        margin-top : 10px;
        display : flex;
        flex-direction: column;
        // border : solid blue;

        .Issue-main-sorting-header{
            height : 50px;
            display : grid;
            grid-template-columns: repeat(18,1fr);
            justify-content: space-between;
            // border: solid red;
            // padding : 20px;
            background : #1C2239;

            .Issue-main-counter-title{
                grid-column: 1/4;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                // border: solid red;
                >p{
                    color: #ffffff;
                    font-size: 16px;
                }
            }

            .Issue-main-counter{
                grid-column: 4/6;
                display : flex;
                justify-content: flex-start;
                align-items: center;
                width : 100%;
                height: auto;
                // border: solid red;
                font-size: 16px;
                color: #c5c5c5;

                
            }
            .Issue-main-sort-Issuelist{
                grid-column: 14/16;
                display: flex;
                flex-direction: row;
                width: 80%;
                align-items: center;
                justify-content: space-evenly;
                >select{
                    border: none;
                    background-color: #1c2239;
                    font-size: 12px;
                    font-weight: bold;
                    color: #ffffff;
                }
            }

            .Issue-main-sort-search{
                grid-column: 16/19;
                display : flex;
                flex-direction: row;
                align-items: center;
                width : 85%;
                height: 65%;
                justify-content: space-between;
                border-bottom: solid 1px #ffffff;
                >input{
                    background: transparent;
                    width: 100%;
                    border: none;
                    color: #ffffff;
                    margin-top: 10px;
                }
                >input::placeholder{
                    color: #ffffff;
                }
                >input:focus{
                    outline: none;
                }

                >img{
                    width: 13px;
                    height: 13px;
                    margin-top: 10px;
                }

                >button{

                    width: 20%;
                    height: 40%;
                }
            }
        }
        .Issue-main-area{
            width : 100%;
            height : auto;
            .Issue-main-Item-button{
                border: none;
                width: 100%;
                background-color: #F6F7FC;
                cursor: pointer;
            }
            .Issue-main-Item-button:hover{
                border: none;
                width: 100%;
                background-color: #E8EAF3;
                cursor: pointer;
            }
        }
        .Issue-main-area::-webkit-scrollbar{
            display: block;
            width: 12px;
        }
        .Issue-main-area::-webkit-scrollbar-thumb{
            background-color: #707070;
        }
    }
}