.MainContents {
    display:grid;
    grid-template-columns: repeat(36, 1fr);
    margin : 0 auto;
}

.MainSection {
    grid-column-start: 7;
    grid-column-end: 30;
}

.MainAside {
    top: 12%;
    position: fixed;
    width: 55px;
    height: 40%;
    right: 14%;
    // grid-column: 30/31;
    // border: solid gray;
}

.MainNote{
    position: fixed;
    top: 61%;
    width: 14%;
    height: 22%;
    right: 4%;
}

.MainSection > div {
    margin-top: 50px;
}

.MainAside > div {
    margin-top: 50px;
}


@media  (max-width:1280px) {
    .MainContents {
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        margin : 0 auto;
    }
    
    .MainSection {
        grid-column-start: 3;
        grid-column-end: 11;
    }
    
    .MainAside {
        display:none; // fixed button으로 확인
    }
}
