.ContextMenu-item {
    display: flex;
    padding:4px;
    justify-content: space-between;

    > p {
        min-width: 60px;
        margin:0 5px;
    }

    >p:nth-child(2) {
        text-align: right;
    }
}

.ContextMenu-item:hover {
    background-color: gray;
    cursor:pointer;
}