@font-face {
    font-family: "AppleSDGothicNeoB";
    src : url('../../../../fonts/AppleSDGothicNeoB.ttf')
}
@font-face {
    font-family: "AppleSDGothicNeoM";
    src : url('../../../../fonts/AppleSDGothicNeoM.ttf')
}

.Service-list-main {
    font-family: "AppleSDGothicNeoB";
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    width: 100%;

    .Service-list-title {
        grid-column: 10/28;
        font-size: 26px;
        font-weight: bold;
        margin-top : 3%
    }

    .Service-list-view {
        margin-top: 3%;
        grid-column: 10/28;
        width: 100%;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
        height: 780px;

        .Service-list-tab{
            width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 18px;

            .Service-list-tab-button{
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 50px;
                border-bottom: solid 2px #1C2239;
                >div{
                    height : 100%;
                    width : 15%;
                    margin : 0;
                    text-align: center;
                    line-height: 60px;
                    // border : solid red;
                    
                }
                .Service-list-tab{
                    border : none;
                    outline : none;
                    position : relative;

                }
                .Service-list-tab-clicked{
                
                    background : #1C2239;
                    border : 2px solid #1C2239;
                    border-bottom : none;
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;
                    border-bottom : 0;
                    outline : none;
                    color: #ffffff;
                    position : relative;
                    line-height: 50px;
                }
            }
        }

        .Service-list-item {
            width: 100%;
        }
    }
}