.Issue-Write-Set{
    border: solid 1px #707070;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    .Issue-Write-Set-title{
        display: flex;
        width: 100%;
        height: 35px;
        align-items: center;
        justify-content: center;
        background-color: #1C2239;
        color: #ffffff;
        border-top-left-radius: 7.6px;
        border-top-right-radius: 7.6px;
    }
    .Issue-Write-Set-view{

    }
}