@font-face{
    font-family: "AppleSDGothicNeoM";
    src: url(../../../../fonts/AppleSDGothicNeoM.ttf);
}

.BulletinBoard-Detail{
    display: grid;
    font-family: "AppleSDGothicNeoM";
    grid-template-columns: repeat(36, 1fr);
    .BulletinBoard-Detail-left-button{
        width: 55px;
        position: fixed;
        left: 21%;
        top: 15%;
        border: solid #707070;
        height: 400px;
    }
    .BulletinBoard-Detail-main{
        grid-column: 11/27;
        margin-top: 2%;
        margin-bottom: 10%;
        // border: solid red;
    }
}