@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../../../fonts/AppleSDGothicNeoB.ttf')
}

@font-face{
    font-family: "AppleSDGothicNeoM";
    src : url('../../../../fonts/AppleSDGothicNeoM.ttf')
}

.Blog-write-main{
    font-family: "AppleSDGothicNeoM";
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    width: 100%;
    height: 100%;
    // min-height: 675px;
    .Blog-write-view{
        margin-top: 5%;
        grid-column: 11/27;
        height: 100%;
        min-height: 872px;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        // border: solid red;
        background-color: #ffffff;
        border: solid 1px #707070;
        .Blog-write-produce{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            flex-direction: column;
            border-radius: 15px;
            .Blog-write-title{
                display: flex;
                flex-direction: row;
                width: 100%;
                .Blog-write-title-left{
                    width: 50%;
                    .Blog-write-title-tag-left{
                        margin-top: 5%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: flex-end;
        
                        .Blog-write-title-left{
                            font-size: 25px;
                            font-weight: bold;
                            color: #585A61;
                        }
        
                        .Blog-write-tag-left{
                            font-size: 15px;
                            color: #585A61;
                        }
                    }
        
                    .Blog-write-toolbar-left{
                        margin-left: 5%;
                        margin-top: 10%;
                        width: 90%;
                        border: solid 1px #707070;
                        height: 24px;
        
                    }
                }

                .Blog-write-title-right{
                    width: 50%;
                    .Blog-write-title-tag-right{
                        margin-top: 5%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: flex-end;
        
                        .Blog-write-title-right{
                            font-size: 25px;
                            font-weight: bold;
                            color: #585A61;
                        }
        
                        .Blog-write-tag-right{
                            font-size: 15px;
                            color: #585A61;
                        }
                    }
        
                    .Blog-write-toolbar-right{
                        margin-left: 5%;
                        margin-top: 10%;
                        width: 90%;
                        border: solid 1px #707070;
                        height: 24px;
        
                    }
                }
            }
            

            .Blog-write-text{
                width: 95%;
                height: 100%;
                margin-left: 2.5%;
                margin-top: 1%;
                margin-bottom: 2%;
                min-height: 620px;
                display: flex;
                justify-content: center;
                border:1px solid black;
                
                >p{
                    font-size: 15px;
                    font-weight: bold;
                    margin-top: 10%;
                    color: #707070;
                }
            }

            .Blog-write-button{
                display: flex;
                justify-content: flex-end;
                margin-right: 2%;
                margin-bottom: 2%;
                >input{
                    width: 9%;
                    height: 30px;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: 15px;
                    color: #ffffff;
                    background-color: #1C2239;
                }
            }
        }

    }
}