.FileDetail-Header{
    width: 100%;
    height: 100%;

    .FileDetail-Header-main{
        width : 100%;
        height : 50px;
        display : flex;
        flex-direction: row;
        justify-content: flex-start;
        background : #1C2239;
        .FileDetail-Header-profile-img{
            width : 6.5%;
            height : 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            >img{
                width: 40px;
                height: 40px;
            }
        }
        
        
        .FileDetail-Header-title{
            width : 12%;
            height : 100%;
            display : flex;
            align-items: center;
            justify-content: center;
            >p{
                color: #ffffff;
                font-size : 16px;
                margin-top: 3%;
            }
        }
        .FileDetail-Header-info{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            width: 20%;
            height: 67%;
            .FileDetail-Header-lines{
                >p{
                    font-size: 11px;
                    color: #E4E4E4;
                }
            }
            .FileDetail-Header-sloc{
                margin-left: 1%;
                >p{
                    font-size: 11px;
                    color: #E4E4E4;
                }
            }
            .FileDetail-Header-byte{
                margin-left: 4%;
                >p{
                    font-size: 11px;
                    color: #E4E4E4;
                }
            }
        }
        .FileDetail-Header-contributor{
            width: 20%;
            height: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            >img{
                width: 28px;
                height: 28px;
                margin-left: -2%;
            }
        }
    }
}
