.IssueTrackers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .IssueTrackers-options{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4%;
        .IssueTrackers-view{
            height: 55px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            margin-bottom: 20%;
        }
    }
    .IssueTrackers-button{
        width: 90%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4%;
        >input{
            width: 22%;
            height: 25px;
            border-radius: 4px;
            background-color: #FFFFFF;
            font-size: 12px;
            font-weight: bold;
        }
    }
}