.BulletinBoard-Detail-view-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    >p{
        margin-bottom: 3%;
        color: #707070;
        font-size: 15px;
    }
}
.BulletinBoard-Detail-view-contents-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .BulletinBoard-Detail-view-contents{
        width: 80%;
        height: 270px;
        background-color: #F6F6F6;
    }
    .BulletinBoard-Detail-view-profile{
        display: flex;
        margin-right: 4%;
        // border: solid red;
        flex-direction: column;
        align-items: center;
        >img{
            width: 60px;
            height: 60px;
        }
        >p{
            font-size: 15px;
            font-weight: bold;
        }
    }
}