.ContextMenu {
    position:fixed;
    z-index:300;
    background-color: #fcfce8; // temp
    
    .ContextMenu-hr {
        margin-left:4px;
        margin-right:4px;
        border: solid 1px gray;
    }
}