.SideImageButton {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    border-radius: 25px;
    font-family: "AppleSDGothicNeoB";

        >button {
        width: 100%;
        font-family: "AppleSDGothicNeoB";
        background: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;

        >img {
            width: 40px;
            height: 40px;
        }
    } 
}

.SideButton {
    display: flex;
    justify-content: center;
    
    >input {
        font-family: "AppleSDGothicNeoB";
        border-radius: 10px;
        font-size: 12px;
        padding: 5px 3px 3px 3px;
        cursor: pointer;
    }
}