.Header {
    display:grid;
    grid-template-columns: repeat(36, 1fr);
    margin : 0 auto;
    max-height: 60px;
    align-items: center;
    justify-content: center;
    background : #F6F7FC;
    margin-top:10px;
}

.Header a a:link a:hover a:visited {
    color:#000;
    text-decoration: none;
}

.LogoArea {
    grid-column-start: 2;
    grid-column-end: 5;
}

.OptionArea {
    grid-column-start: 33;
    grid-column-end: 37;
}

@media (max-width:1280px) {
    .Header {
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        margin : 0 auto;
        height: 60px;
        margin-top: 5px;
    }

    .LogoArea {
        grid-column-start: 2;
        grid-column-end: 5;
    }
        
    .OptionArea {
        grid-column-start: 11;
        grid-column-end: 13;
    }
}

@media (max-width:768px) {
    .LogoArea {
        grid-column-start: 2;
        grid-column-end: 5;
        margin-left : 15px;
    }

    .OptionArea {
        grid-column-start: 9;
        grid-column-end: 12;
    }
}