.Project-License-MainView{
    width: 100%;
    display: flex;
    flex-direction: column;
    .Project-License-MainView-modify{
        width: 99%;
        height: 10px;
        display: flex;
        justify-content: flex-end;
        margin-top: 1%;
        >img{
            width: 14px;
            height: 11px;
        }
    }
    .Project-License-MainView-contents{
        width: 90%;
        padding: 10px;
        font-size: 18px;
        line-height: 28px;
        white-space: pre-wrap;
    }
}