.commithistory {
    @include flexbox(center, center);
    flex-direction: column;
    
    & > div {
        width: 100%;
        margin-bottom: 5px;
    }

    & > .historyData {
        background-color: #2D3243;
        color:white;

        & > .header {
            @include flexbox(flex-end, flex-start);
            height: auto;

            & > div {
                padding :0px 5px;
                font-size:10px;
                color: gray;
            }
        }

        & > .commitmessage {
            overflow: hidden;
            font-size: 12px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }
}