.fileView {
    height: 100%;

        & .header {
            @include flexbox(space-between, center);
            height: 30px;
            padding: 10px 7px;
            border-bottom: $IDELine;
            
            & .btnFolderUser {
                @include flexbox(flex-start, center);
                
                & span {
                    padding-left: 5px;
                    letter-spacing: 2px;
                    font-size: 14px;
                    color: white !important;
                    // 줄임표 필요
                }

            & .iconArrowDown2 {
                position: relative;
                top: 5px;
            }
        }
        
        & .btnAdd,
        & .btnSearch {
            margin-left: 5px;
        }
    }
    
    & .body {
        @include IDEEachBodyHeight();

        & * {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.6px;
        }

        & .wrap {
            padding-left: 10px;
        }

        & button {
            padding: 5px 10px 5px 15px;
            display: block;
            cursor: pointer;
            width: 100%;
            text-align: left;

        &:hover {
            @include IDEButtonHover();
            }
        }

        & span {
            @include notCutToNextLine();
        }

        & .btnOnwer {
            & span {
                margin-right: 5px;
            }
        }

        & .btnFile,
        & .btnFolder {
            @include flexbox(flex-start, center);
            position: relative;

            & img {
                margin-right: 10px;
            }
        }

        & .btnFolder .iconArrowRight {
            position: absolute;
            left: 0;
            top: 10px;
        }
    }
}