.fileView {
    height: 100%;

        & .header {
            @include flexbox(space-between, center);
            height: 38px;
            line-height: 38px;
            padding: 10px 7px;
            border-bottom: $IDELine;
            background: #1c2239;
            
            & .left {
                padding: 0 5px;
                
                & > button {
                    color: #fff;
                    padding: 0 5px;
                    letter-spacing: 1px;
                }                 
            }
            
            & .right {
                @include flexbox(center, center);
                margin-right:10px;
                & button { margin-left: 10px; }
            }
        }
    
    & .body {
        @include IDEEachBodyHeight();

        & * {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.6px;
        }

        & .wrap {
            padding-left: 10px;
        }

        & button {
            padding: 5px 10px 5px 15px;
            display: block;
            cursor: pointer;
            width: 100%;
            text-align: left;

        &:hover {
            @include IDEButtonHover();
            }
        }

        & span {
            @include notCutToNextLine();
        }

        & .btnOnwer {
            & span {
                margin-right: 5px;
            }
        }

        & .btnFile,
        & .btnFolder {
            @include flexbox(flex-start, center);
            position: relative;

            & img {
                margin-right: 10px;
            }
        }

        & .btnFolder .iconArrowRight {
            position: absolute;
            left: 0;
            top: 10px;
        }
    }
}