.Header {
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  
    & .left {
      @include flexbox(center, center);
    }
  
    & h1 {
      width: 265px;
    }
    & h1 button {
      display: inline-block;
    }
    & h1 button img {
      height: 40px;
    }
  
    & nav {
      padding-left: 10px;
      &.sub {
        & > ul > li > button span {
          color: #fff;
          padding-right: 5px;
          letter-spacing: -1px;
        }
      }
  
      & > ul > li > button span {
        letter-spacing: -1px;
      }
    }
    & nav > ul {
      @include flexbox(center, center);
    }
    & nav > ul > li {
      position: relative;
  
      & > ul {
        display: none;
      }
      & > button {
        @include flexbox(flex-start, center);
        margin: 0 50px 0 0;
  
        &.on + ul {
          display: block;
        }
      }
      & > button span {
        color: $ColorNavy;
        font-size: 18px;
        font-weight: 900;
      }
      & > button img {
        position: relative;
        top: 2px;
        margin-left: 5px;
      }
    }
  
    & aside {
      & .icon_down_white {
        height: 6px;
        position: relative;
        top: 2px;
        left: 2px;
      }
  
      & ul {
        @include flexbox(space-between, center);


        // Header - Signin, Signup
        & > .RightTextMenu > * {
          padding: 5px 10px;
          color : black;
        }

        & > .RightTextMenu.white > * {
          color : white;
        }

        & > .RightTextMenu > *:hover {
          color : #ffb600;
        }

        & li {
          position: relative;
        }
      }
  
      & ul.dropdown {
        left: auto;
        right: 0;
        display: block;
      }
    }

    & aside button {
      margin: 0 10px;
      
      & > img {
        height : 24px;
      }
    }

    
  
    & .iconMenu {
      height: 24px;
      margin-left: 10px;
    }
} // Header

// DropdownMenu
ul.dropdown {
    z-index: 990;
    border-radius: 10px;
    padding: 25px;
    background: #fff;
    line-height: 20px;
    position: absolute;
    top: 45px;
    left: 0;
    width: 240px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  
    & li {
      margin-bottom: 15px;
    }
    & li:last-child {
      margin-bottom: 0;
    }
  
    & li button {
      font-size: 20px;
      color: #1c2239;
      font-weight: bold;
      line-height: 1.6;
      display: block;
      padding: 5px 10px;
      border-radius: 5px;
      width: 100%;
      text-align: left;
    }
  
    & li button:hover,
    & li.on > button {
      background: #ffb600;
    }
  
    & li ul {
      display: none;
    }
    & li .icon_head_up {
      display: none;
      height: 6px;
    }
    & li .icon_head_down {
      display: block;
      height: 6px;
    }
    & li.on .icon_head_up {
      display: block;
      height: 6px;
    }
    & li.on .icon_head_down {
      display: none;
      height: 6px;
    }
    & li.on ul {
      display: block;
      padding: 5px 0;
    }
  
    & > li > button {
      @include flexbox(space-between, center);
      margin: 0;
    }
    & > li > ul > li {
      margin-bottom: 5px;
    }
    & > li > ul > li > button {
      color: #595d65;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }
} // DropdownMenu

//searchbar
.btn_head_user {
    position: relative;
  
    & .depth2 {
      width: 220px;
      padding: 25px;
      position: absolute;
      left: -180px;
      top: 30px;
  
      & > li > p {
        color: #928a76;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      & > li > ul {
        padding-left: 40px;
        border-bottom: 1px solid #aaa;
      }
      & > li > ul > li > button {
        color: $ColorNavy;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      & > li > button {
        @include flexbox(space-between, center);
        margin: 5px 0;
      }
      & > li > button > img {
      }
      & > li > button > b {
        font-size: 25px;
        margin-left: 5px;
      }
    }
  }
  
  .head_search_tablet {
    & input {
      background: none;
      border: 0;
      border-bottom: 1px solid #fff;
      padding-bottom: 5px;
      margin-left: 20px;
      outline: 0;
      color: #fff;
      font-size: 14px;
    }
  }
  
  .head_search_wrap {
    @include flexbox(space-between, flex-end);
  
    & .head_add {
      position: relative;
      margin-right: 20px;
  
      & .depth2 {
        position: absolute;
        top: 49px;
        left: 0;
      }
    }
  
    & .head_search {
      position: relative;
  
      & input {
        background: none;
        height: 30px;
        border: 0;
        outline: 0;
        border-bottom: 1px solid #f6f6f6;
        color: #ddd;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 10px 20px 20px;
        padding-right: 40px;
        text-indent: 0;
        letter-spacing: -0.5px;
  
        &::placeholder {
          font-size: 20px;
          color: #ddd;
          letter-spacing: 2px;
          letter-spacing: -0.5px;
        }
      }
  
      & .btn_head_search {
        position: absolute;
        right: 10px;
        top: -5px;
      }
    }
}
 //Searchbar 
/* 메인 외 모든 헤더 */
.Header.otherStyle {
    position: relative;
    background-color: $ColorNavy;
  
    & h1 a img {
      height: 40px;
    }
} /* // 메인 외 모든 헤더 */

// 반응형
@media screen and (max-width: 1500px) {
    .Header {
      padding: 0 10px;
    }
    .Header h1 {
      width: 200px;
    }
  
    .Header aside button {
      margin: 0 5px;
    }
  
    .head_search_wrap .head_search input {
      width: 200px;
    }
    
    .Header nav > ul > li > button {
      margin: 0 20px 0 0;
    }

    .Header nav > ul > li > button span {
        font-size:15px !important;
    }
  }
  
  @media screen and (max-width: 1140px) {
    .head_search_wrap .head_search input {
      padding: 10px 10px 20px;
    }
  
    .navMobile {
      z-index: 999;
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background: #fff;
      padding: 35px 30px;
      transition-duration: 0.5s;
      overflow: auto;
  
      & > ul {
        @include flexbox(flex-start, center);
  
        & > li {
          margin-right: 20px;
        }
  
        & .btn_head_user img {
          height: 20px;
        }
  
        & img {
          height: 24px;
        }
      }
  
      &.on {
        left: 0;
      }
  
      & > a img {
        height: 30px;
        margin-right: 20px;
  
        &.iconPerson {
          height: 24px;
        }
      }
  
      & nav {
        & > ul {
          margin-top: 30px;
  
          & > li {
            text-align: left;
            padding: 25px 5px;
            display: block;
            border-top: 1px solid #ddd;
  
            & > button {
              font-size: 17px;
            }
  
            & > button.on + ul {
              display: block;
            }
  
            & > ul {
              display: none;
              margin-top: 10px;
              & > li {
                margin-top: 30px;
              }
            }
          }
        }
      }
  
      & .btn_close {
        width: 24px;
        position: absolute;
        right: 30px;
        top: 40px;
  
        & img {
          width: 100%;
        }
      }
  
      & ul.dropdown {
        position: relative;
        top: 0;
        width: auto;
        box-shadow: none;
        padding: 0;
        
        & li {
          margin-top: 0;
          margin-bottom: 0;
  
          & button {
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }
  
    .Header {
      padding: 0 15px;
  
      & h1 {
        width: auto;
      }
  
      & h1 a img {
        height: 30px;
      }
  
      & aside a {
        margin: 0;
        padding: 0;
      }
    }
  
    aside {
      @include flexbox(space-between, flex-end);
      padding-right: 15px;
    }
  
    aside a:not(.btn_menu) {
      display: none;
    }
}
