.issuecard {
    @include flexbox(flex-start, flex-start);
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #707070;
    padding: 25px 10px 10px;

    & .date {
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    & .icon {
        padding-right: 10px;

        & p {
            font-size: 14px;
            text-align: center;
        }
    }

    & .text {
        & p {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            line-height: 1.4;
            height: 40px;
            text-align: left;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        & .marks {
            margin: 5px 0;
        }
        & .kind {
            @include flexbox(flex-start, center);
            @include notCutToNextLine();

            & span {
                margin: 0 1px;
                font-size: 10px;
                font-weight: bold;

                &.red {
                    color: #ff0000;
                }
                &.violet {
                    color: #ad30ff;
                }
                &.yellow {
                    color: #b8b837;
                }
            }
        }
        & .userMark {
            position: absolute;
            right: 5px;
            bottom: 5px;
        }
    }
}