@font-face {
    font-family: "AppleSDGothicNeoB";
    src : url('../../../fonts/AppleSDGothicNeoB.ttf')
    }

@font-face {
    font-family: "AppleSDGothicNeoM";
    src : url('../../../fonts/AppleSDGothicNeoM.ttf')
    }

.License-main-container {
    background : #F6F7FC;
    height : fit-content;
}