 .ChangePassword-main {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

     .ChangePassword-main2{
        width: 85%;
        font-size: 22px;
        font-weight: bold;
        color: #707070;
        display: flex;
        flex-direction: column;
        align-items: center;

        >p {
            width: 100%;
            margin-bottom: 2%;
        }
        
        >input {
            width: 88%;
            height: 30px;
            border-radius: 20px;
            font-size : 25px;
            text-indent: 10px;
            border: none;
            box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
            margin-bottom:6%;
        }

        >input:focus{
            outline: none;
        }
     }

     .ChangePassword-footer {
        width: 73%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        .ChangePassword-cancel {
            >input{
                font-size: 15px;
                font-weight: bold;
                border-radius: 8px;
                background-color: #D5D5D5;
                border: none;
                padding: 3px 14px 3px 14px;
            }
        }
        .ChangePassword-confirm {
            >input{
                font-size: 15px;
                font-weight: bold;
                border-radius: 8px;
                color: #ffffff;
                background-color: #19B900;
                border: none;
                padding: 3px 14px 3px 14px;
            }
        }
    }
 }