.ConnectSideButton{
    width: 100%;
    height: 100%;
    .ConnectSideButton-modify{
        display: flex;
        justify-content: center;
        .ConnectSideButton-modify-btn{
            cursor: pointer;
            background: transparent;
            border : none;
            >img{
                width: 30px;
                height: 16px;
            }
        }
        .ConnectSideButton-modify-body{

        }
    }
}