.NoteList-Mylist{
    width: 100%;
    height: 100%;
}

.NoteList-Followerlist{
    width: 100%;
    height: 100%;
}

.NoteList{
    background-color: #F6F7FC;
    width: 99%;
    height: 100%;
    min-height: 261px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: solid 1px #1C2239;
    display: flex;
    flex-direction: column;
    .NoteList-tab{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 36px;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        margin-left: 13%;
        hr{
            height: 10px;
            width: 0px;
            border:solid 1px;
        }
        .NoteList-clicked{
            display: flex;
            justify-content: center;
            cursor: pointer;

        }
        .NoteList-closed{
            display: flex;
            justify-content: center;
            cursor: pointer;
            color: #707070;
        }
    }
    .NoteList-View{
        width: 100%;
        height: 100%;
        max-height: 285px;
        overflow-y: scroll;
    }
    .NoteList-View::-webkit-scrollbar{
        display: none;
        width: 0 !important;
    }
}