@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../fonts/AppleSDGothicNeoB.ttf')
}

.loginPage {
    & .body{
        display: grid;
        grid-template-columns: repeat(36, 1fr);
        height: 100%;
        width: 100%;
        
        & .background {
            display: grid;
            grid-column: 1/37;
            width: 100%;
            min-height: 802px;
            height: 100%;
            // background-image: url(../../img/loginbackground.png);
            // background-position: center;
            // background-size: 150% auto;

            & .wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            
                // text select prevent
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                
                // ChangePassword start
                & > .changePassword {
                    & > div { width:400px; }

                    & > div > p {
                        text-align: center;
                        font-size:24px;
                        font-weight: 800;
                        padding: 15px;
                        margin-bottom: 10px;
                        word-break: normal;
                        line-height: 1.2;
                    }
                
                    & > .form {
                        font-family: "AppleSDGothicNeoB";
                        width : 400px;
                        border-radius: 10px;
                        display : flex;
                        flex-direction: column;
                        align-items: center;
                        background : #fff;
                        box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
                        padding: 10px 0px;
                        
                        & > div {
                            width : 300px;
                            background : #ffffff;
                            display: flex;
                            justify-content: space-between;

                            & > p:first-child {
                                margin-bottom: 10px;
                                font-size : 16px;
                                font-weight : 800;
                            }
                            & > p:nth-child(2) {
                                font-size: 12px;
                                padding-top:10px;
                            }

                            & > input {
                                font-size : 16px;
                                width : 95%;
                                height : 100%;
                                background : rgba(0, 0, 0, 0);
                                border : none;
                            }

                            & > input:focus { outline : none; }
                        }

                        & > .container {
                            flex-direction: column;
                            justify-content: space-between;
                            border: 1px solid black;
                            border-radius: 5px;
                            height: 50px;
                            margin-bottom: 15px;
                        }
            
                        & > button {
                            width : 300px;
                            height : 50px;
                            background : #ffb600;
                            border : none;
                            border-radius: 5px;
                            color : #ffffff;
                            font-size : 15px;
                        }
            
                        & > button:focus {
                            outline : none;
                        }
                    }
                } // changePassword End
                
                // LoginMain start
                & > .loginMain {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    justify-content: center;
                    
                    & > div > p {
                        text-align: center;
                        font-size:24px;
                        font-weight: 800;
                        padding: 15px;
                        margin-bottom: 10px;
                    }

                    & > div > .formcontainer {    
                        width : 100%;
                        max-width : 400px;
                        min-width : 350px;
                        background : #ffffff;
                        border-radius: 10px;
                        box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
                        padding-bottom: 10px;
                        & > .form {
                            display : flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom:15px;

                            & > div:first-child { margin-top: 15px; }

                            & > div {
                                width : 300px;
                                background : #ffffff;
                                display: flex;
                                justify-content: space-between;

                                & > p:first-child {
                                    margin-bottom: 10px;
                                    font-size : 16px;
                                    font-weight : 800;
                                }
                                & > p:nth-child(2) {
                                    font-size: 12px;
                                    padding-top:10px;
                                }

                                & > input {
                                    font-size : 16px;
                                    width : 95%;
                                    height : 100%;
                                    background : rgba(0, 0, 0, 0);
                                    border : none;
                                }

                                & > input:focus { outline : none; }
                            }

                            & > .container {
                                flex-direction: column;
                                justify-content: space-between;
                                border: 1px solid black;
                                border-radius: 5px;
                                height: 50px;
                                margin-bottom: 15px;
                            }
                
                            & > button {
                                width : 300px;
                                height : 50px;
                                background : #ffb600;
                                border : none;
                                border-radius: 5px;
                                color : #ffffff;
                                font-size : 15px;
                            }
                
                            & button:focus {
                                outline : none;
                            }
                        }
                    
                        & > .etcInfo {
                            display : flex;
                            justify-content: center;
                            align-items: center;
                            
                            & > .wrapper {
                                display:flex;

                                & > p {
                                    margin-left:3px;
                                    margin-right:3px;
                                    font-size: 14px;
                                }
                                & > p:last-child {
                                    color: #ffb600;
                                    text-align: center;
                                }
                
                                & > p:last-child:hover { cursor:pointer; }
                            }
                        }
                    }
                } // LoginMain end

                // Signup start                
                & > .signup {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                   
                    & > div > p {
                        text-align: center;
                        font-size:24px;
                        font-weight: 800;
                        padding: 15px;
                        margin-bottom: 10px;
                    }

                    & > div > .formcontainer {    
                        width : 400px;
                        background : #ffffff;
                        border-radius: 10px;
                        box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
                        padding-bottom: 10px;

                        & > .form {
                            display : flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom:15px;

                            & > div:first-child { margin-top: 15px; }

                            & > div {
                                width : 300px;
                                background : #ffffff;
                                display: flex;
                                justify-content: space-between;

                                & > p:first-child {
                                    margin-bottom: 10px;
                                    font-size : 16px;
                                    font-weight : 800;
                                }
                                & > p:nth-child(2) {
                                    font-size: 12px;
                                    padding-top:10px;
                                }

                                & > input {
                                    font-size : 16px;
                                    width : 95%;
                                    height : 100%;
                                    background : rgba(0, 0, 0, 0);
                                    border : none;
                                }

                                & > input:focus { outline : none; }
                            }

                            & > .container {
                                flex-direction: column;
                                justify-content: space-between;
                                border: 1px solid black;
                                border-radius: 5px;
                                height: 50px;
                                margin-bottom: 15px;
                            }
                
                            & > button {
                                width : 300px;
                                height : 50px;
                                background : #ffb600;
                                border : none;
                                border-radius: 5px;
                                color : #ffffff;
                                font-size : 15px;
                            }
                
                            & > button:focus {
                                outline : none;
                            }
                        }
                    
                        & > .etcInfo {
                            display : flex;
                            justify-content: center;
                            align-items: center;
                            
                            & > .wrapper {
                                display:flex;

                                & > p {
                                    margin-left:3px;
                                    margin-right: 3px;
                                    font-size: 14px;
                                }
                                & > p > a { color: #ffb600; }
                                & > p > a:hover { cursor:pointer; }
                            }
                        }
                    }
                } // Signup End

                // ResetPassword start
                & > .resetPassword {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                    & > div > p {
                        text-align: center;
                        font-size:24px;
                        font-weight: 800;
                        padding: 15px;
                        margin-bottom: 10px;
                    }

                    & > div > .form {    
                        width : 460px;
                        max-width : 400px;
                        min-width : 350px;
                        background : #ffffff;
                        border-radius: 10px;
                        box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
                        display : flex;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom: 15px;

                        & > div:first-child { margin-top: 15px; }

                        & > div {
                            width : 360px;
                            background : #ffffff;
                            display: flex;

                            & > p:first-child {
                                margin-bottom: 10px;
                                font-size : 16px;
                                font-weight : 800;
                            }
                            & > p:nth-child(2) {
                                font-size: 12px;
                                padding-top:10px;
                            }

                            & > input {
                                font-size : 16px;
                                width : 95%;
                                height : 100%;
                                background : rgba(0, 0, 0, 0);
                                border : none;
                            }

                            & > input:focus { outline : none; }

                            & > button {
                                width : 360px;
                                height : 50px;
                                background : #ffb600;
                                border : none;
                                border-radius: 5px;
                                color : #ffffff;
                                font-size : 15px;
                            }
                
                            & button:focus {
                                outline : none;
                            }
                        }
                        
                        & > .container {
                            flex-direction: column;
                            justify-content: space-between;
                            border: 1px solid black;
                            border-radius: 5px;
                            height: 50px;
                        }

                        & > .desc {
                            display:flex;
                            width: 320px;
                            margin:10px;
                            & > p {
                                width:100%;
                                font-weight: normal !important;
                                text-align: center;
                                word-break: initial;
                                font-size: 14px;
                            }

                            & > p > a { color: #ffb600; }
                            & > p > a:hover { cursor:pointer; }
                        }

                        & > .alertmessage {
                            display: flex;
                            width:360px;
                            font-weight: 300;
                            text-align: center;
                            word-break: initial;
                            font-size: 20px;
                            line-height: 1.5;
                            flex-direction: column;

                            & > p {
                                margin-bottom: 10px;
                                font-size : 16px !important;
                                font-weight : 800;
                            }
                        }
                    }
                } // ResetPassword End
            }
        }
    }

    & .footer {
        grid-column: 1/37;
        background-color: #1C2239;
        max-height: 522px;
        height: 100%;
        
        & .hr {
            width: 80%;
            height: 50px;
            margin: 0 auto;
            border-bottom: 3px solid #ffffff;
        }
    
        & .container{
            display: flex;
            width: 100%;
            max-height: 300px;
            flex-direction: row;
            justify-content: space-evenly;
            margin-left: 0;
            margin-right: 0;
            margin-top: 50px;
    
            & .column{
            
                & .title {
                    margin-bottom: 50px;
                    
                    & > p {
                        color: white;
                        font-weight: 400px;
                        font-size: 15px;
                        letter-spacing: 5px;
                    }
                }
                & .subtitle {
                    & > p {
                        letter-spacing: 5px;
                        margin-bottom: 20px;
                        color: white;
                        font-weight: 400px;
                        font-size: 15px;
                    }
                }
            }
        }
    
    }
}