.asideitems {
  & a {
    margin: 0 10px;

    & img {
      height: 24px;
    }
    & .iconPerson {
      height: 20px;
    }
  }
}



@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 991px) {
}

  @media screen and (max-width: 767px) {
}