.Project-main-view{
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    width: 100%;
    height: 100%;
    .Project-main-view-erd{
        margin-top: 3%;
        grid-column: 1/18;
    }
    .Project-main-view-use{
        margin-top: 10%;
        grid-column: 19/24;
    }
    .Project-main-view-readme{
        margin-top: 3%;
        grid-column: 1/17;
    }
    .Project-main-view-info{
        margin-top: 8%;
        grid-column: 18/24;
    }
}