.MyPage-DeleteAccount{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow : 6px 7px 30px -3px rgba(112,112,112,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .MyPage-DeleteAccount-title{
        padding-top:10px;
        width: 82%;
        font-size: 20px;
        font-weight: bold;
        color: #FF0000;
    }
    .MyPage-DeleteAccount-check{
        width: 73%;
        font-size: 15px;
        line-height: 30px;
        color: #FF0000;
        margin-top: 2%;
        >input{
            position: relative;
            left: 84%;
            bottom: 30%;
        }
    }

    .MyPage-DeleteAccount-password {
        width: 78%;

        >input{
            position: relative;
            width: 180px;
            left: 10%;
            bottom: 80%;
            font-size: 15px;
            color: #1C2239;
            background-color: #ffffff;
            border: solid 2px #707070;
            border-radius: 10px;    
        }

        >input:focus {
            outline: none;
        }

    }

    .MyPage-DeleteAccount-btn{
        width: 73%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: -10px 0 5px 0;
        
        .MyPage-DeleteAccount-cancel-btn{
            >input{
                font-size: 15px;
                font-weight: bold;
                border-radius: 8px;
                background-color: #D5D5D5;
                border: none;
                padding: 3px 14px 3px 14px;
            }
        }

        .MyPage-DeleteAccount-agree-btn{
            >input{
                font-size: 15px;
                font-weight: bold;
                border-radius: 8px;
                color: #ffffff;
                background-color: #19B900;
                border: none;
                padding: 3px 14px 3px 14px;
            }
        }
    }
}