.ConnectSideMenu {
    width: 100%;
    height: 100%;

    .ConnectSideMenu-modify {
        display: flex;
        border : none;
        margin: 0 auto;
        width: 30px;
        height: 30px;        
        
        >button {
            cursor: pointer;
            border:none;
            background: transparent;
        }
    }
}