.FileDetail-Contents-main{
    width: 100%;
    height: auto;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    .FileDetail-Contents-date{
        width : 99%;
        height : 100%;
        display : flex;
        justify-content: flex-end;
        margin: 1% 0 5% 0;
        >p{
            font-size : 10px;
            
        }
    }
    .FileDetail-Contents-codes{
        width: 100%;
        min-height: 650px;
        // border: solid 1px black;
        // overflow-y: scroll; //안에서 스크롤 사용안하고 늘어날시 밑으로 계속 오버되도록
    }
    // .FileDetail-Contents-codes::-webkit-scrollbar{
    //     width: 10px;
    // }
    // .FileDetail-Contents-codes::-webkit-scrollbar-thumb{
    //     background-color: #bb2727;
    // }
}