.OpenChat{
    width: 100%;
    .OpenChat-Header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 3%;
        .OpenChat-searchbar{
            border-bottom: solid 2px #707070;
            width: 79.5%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 20px;
            >img{
                width: 15px;
                height: 15px;
            }
            >input{
                width: 100%;
                border: none;
                font-size: 15px;
            }
            >input:focus{
                outline: none;
            }
        }
        .OpenChat-openchat-create{
            width: 12%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .OpenChat-main{
        width: 90%;
        height: 499px;
        margin-left: 8%;
        margin-top: 6%;
        overflow-y: scroll;
        .OpenChat-main-mychat{
            width: 100%;
            height: auto;
        }
        .OpenChat-main-recommendation{
            width: 100%;
            height: auto;
            .OpenChat-main-rcd-title{
                width: 98%;
                border-top: solid 2px #D5D5D5;
                font-size: 15px;
                margin-top: 15%;
                margin-bottom: 6%;
                >p{
                    margin-top: 5%;
                }
            }
        }
    }
    .OpenChat-main::-webkit-scrollbar{
        width: 3px;
    }
    .OpenChat-main::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .OpenChat-main::-webkit-scrollbar-thumb{
        background-color: #C4C4C4;
        border-radius: 20px;
    }
}