@charset "utf-8";

@font-face {
    font-family: "AppleSDGothicNeoB";
    src : url('../../fonts/AppleSDGothicNeoB.ttf')
}
@font-face {
    font-family: "AppleSDGothicNeoM";
    src : url('../../fonts/AppleSDGothicNeoM.ttf')
}

.servicePage {
    & .main {
        display: grid;
        grid-template-columns: repeat(36, 1fr);
        margin : 0 auto;
        width: 100%;
    
        & .container {
            margin-top: 50px;
            grid-column: 7/30;
            width: 100%;
    
            & .searchbar {
                display:block;
                margin: 0 auto;
                width: 58.5%;
                height: 40px;
                margin-bottom: 3%;
            }

            & .content {
                display: grid;
                grid-template-columns: repeat(24, 1fr);
                width: 100%;    
                
                & .title {
                    grid-column: 4/22;
                    margin-bottom: 3%;
    
                    & .maintext {
                        font-family: "AppleSDGothicNeoB";
                        font-size: 26px;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                    
                    & .subtext {
                        font-family: "AppleSDGothicNeoM";
                        font-size: 24px;
                    }
                }
            
                & .writing {
                    grid-column: 4/22;
                    border-top: solid #FFB600;
                    height: auto;
                    display: grid;
                    grid-template-columns: repeat(24, 1fr);
    
                    & > img {
                        grid-column : 5/21;
                        width : 41px;
                        height : 13px;
                        margin : 0 auto;
                        margin-bottom:5px;
                    }
    
                    & .close {                    
                        width: 100%;
                        height: 20px;
                    }
    
                    & .open {
                        grid-column: 1/30;
                        height: 100%;
                        background-color: #FFFFFF;
                        display: grid;
                        border: 2px solid #FFB600;
                        border-top : none;
                        grid-template-columns: repeat(24, 1fr);
    
                        & .texteditor {
                            grid-column: 1/25;
                            margin-right: 0%;
                            height: auto;
                        }
    
                        & .send {
                            grid-column: 23/25;
                            margin-right: 5%;
    
                            & > input {
                                border-radius: 15px;
                                width: 100%;
                                background-color: #FFB600;
                            }
                        }
                    }
                }
                
            
                & .servicelist {
                    font-family: "AppleSDGothicNeoM";
                    grid-column: 4/22;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 20px;
                    row-gap: 30px;
                    height: 100%;
                    margin-bottom: 10%;

                    & .container2 {
                        & .title {
                            margin-top: 12%;
                            height: 8%;
                            border-bottom: solid 3px #1C2239;
                            font-size: 14px;
                        }
                        & .subject {     
                            width: 100%;
                            height: 220px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
