@font-face{
    font-family: "AppleSDGothicNeoB";
    src : url('../../../../fonts/AppleSDGothicNeoB.ttf')
}

.Blog-View {
    font-family: "AppleSDGothicNeoB";
    width: 100%;
}

.Blog-View-Title {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(24, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    height:100px;
}

.Blog-View-Search {
    grid-column:6/20;
    grid-row:1;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
}

.Blog-View-Sort{
    grid-column: 19/25;
    display : flex;
    
    .Blog-View-container{
        width : 100%;  
        display : flex;
        justify-content: space-between;
        flex-direction: row;
        // border: solid red;
        .Blog-View-wrapper{
            width: 65%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-top: 7px;
            font-size: 12px;
            // border: solid red;
            .Blog-View-wrapper-sub1{
                padding-right: 15px;
            }
            .Blog-View-wrapper-sub2{
                
            }
        }
        .Blog-View-newproject{
            // padding-right: 15px;
            width: 30%;
            // border: solid red;
            >input{
                // width : 100%;
                width: 90px;
                height : 25px;
                border : 1px solid #1C2239;
                background : #F6F7FC;
                border-radius: 15px;
                font-family: "AppleSDGothicNeoB";
                font-size : 13px;
                font-weight : 400;
            }
        }

        .Blog-View-Sbt{
            width: 25%;
            // background: url(../../../../../img/mainpagebutton.png) no-repeat;
            // background-size: cover;
            border:none;
            
        }
    }

}


// APV Classified SelectionBox



select::-ms-expand {display:none;} // IE10,11의 네이티브 화살표 숨기기


// APV List
.Blog-View-List{
    // border: solid red;
    width:100%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 21px;
}

// 임시 조정 : 세부디자인 결정후 모두 수정할 예정.
@media (max-width:1290px) {
    .Blog-View-Title P { 
        font-size:18px;
    }
}


@media (max-width:1085px) {
    .Blog-View-Title P { 
        font-size:16px;
    }
}