.Post-Detail-maintext-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
    .Post-Detail-maintext-top {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(2, 25px);
        
        .Post-Detail-maintext-title {
            grid-column: 1/18;
            display:flex;
            width:100%;            
            font-size: 24px;
            font-weight: bold; 
            margin-left : 3px;
        }
        
        .Post-Detail-maintext-tag {
            grid-column: 1/18;
            display: flex;
            align-items: center;
            overflow-x: hidden;
            
            > p {
                height:15px;
                padding:0px 5px;
                margin-left:3px;
                margin-right:3px;
                font-size: 11px;
                color: #3f7aa5;
                font-weight: bold;
                background-color: #D5E3F5;
            }
        }
        .Post-Detail-maintext-option {
            display:flex;
            grid-column: 18/25;
            grid-row: 1/2;
            flex-direction: row-reverse;
            
            > img {
                width:20px;
                height:20px;
                margin:3px;
            }
        }
        
        .Post-Detail-maintext-info {   
            display:flex;
            grid-column: 18/25;
            grid-row:2/3;
            flex-direction: row-reverse;
            
            .Post-Detail-maintext-info-number {
                display:flex;
                padding:5px;
                font-size:11px;
                
                .Post-Detail-maintext-info-hits {
                    margin-left:5px;
                }
                
                .Post-Detail-maintext-info-comments {
                    margin-left:5px;
                }
                
                .Post-Detail-maintext-info-date {
                    color: #707070;
                    margin-left:5px;
                }
            }
        }
    }
    
    .Post-Detail-maintext-contents {
        width:100%;
        margin-top:2%;
        margin-left:5px;
        height: auto;
        min-height: 120px;
    }
    
    .Post-Detail-maintext-profile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 5%;
        
        > img {
            width: 60px;
            height: 60px;
        }

        > p {
            font-size: 15px;
            font-weight: bold;
        }
    }
}