.Mypage-set-follower-main{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: 100%;
    .Mypage-set-follower-project-view{
        grid-column: 1/16;
        .Mypage-set-follower-project-item{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 21px;
            grid-row-gap: 21px;
        }
    }
    .Mypage-set-follower-personal-view{
        margin: 10% 0 15% 0;
        grid-column: 1/16;
        .Mypage-set-follower-personal-item{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 21px;
            grid-row-gap: 21px;
        }
    }
}