.FileDetail{
    width: 100%;
    height: auto;
    .FileDetail-Header-select{
        width : 100%;
        height: auto;
        display : flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 1%;
        .FileDetail-Header-code{
            width : 10%;
            height : 100%;
            display : flex;
            >select{
                width : 90%;
                height : 100%;
                background : transparent;
                border : none;
                outline: none;
                padding-left: 10%;
                font-size: 15px;
                font-weight: bold;
                >option{
                    background : transparent;
                    text-align: center;
                }
            }
        }
        .FileDetail-Header-branch{
            width : 10%;
            height : 100%;
            display : flex;
            justify-content: center;
            // border : solid red;
    
            >select{
                width : 100%;
                height : 100%;
                background : transparent;
                border : none;
                outline: none;
                padding-left: 10%;
                font-size: 15px;
                font-weight: bold;
                >option{
                    background : transparent;
                    text-align: center;
                }
            }
        }
    }
    .FileDetail-Main{
        border: solid 3px #BBBBBB;
        .FileDetail-Header{
            width: 100%;
            height: 100%;
        }
        .FileDetail-Contents{
            width: 100%;
            height: 100%;
        }
    }

}